/* Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #818181;
    background-color:rgb(0, 0, 0);
 }
/* Especificidad: 001*/
h1 {
    color: #fff;
    background-color:#FF5733; 
    padding: 2em;
    text-transform: uppercase;
    text-align: center; 
}

/* Especificidad: 001*/
h2,h3,h4 {
    color: #fff;
    background-color:#4133ff; 
    padding: 2em;
    text-transform: uppercase;
    text-align: center; 
}

/* Especificidad: 001*/
p {
    color: #ff0;
    background-color:#000000; 
    padding: 2em;
    text-transform: uppercase;
    text-align: center; 
}