
/*Selector Specificity: (0, 0, 1)*/
body {
    font-family: "Monaco" , sans-serif; 
    background-color: #000000;
    color: #fff;
 }
 
 /*Selector Specificity: (0, 0, 1)*/
h1 {
    color: #fff; 
    font-family: "Monaco" , sans-serif; 
    background-color:#7801ff; 
    text-align: center;  
}

/*Selector Specificity: (0, 0, 1)*/
h2{
    text-align: justify;
    font-size: medium;
    color: rgb(255, 255, 255); 
    background-color:#023cf8; 
    font-family: "Monaco" , sans-serif;
    
}

h3{
    text-align: justify;
    font-size: medium;
    color: rgb(0, 0, 0); 
    background-color:#d3f802; 
    font-family: "Monaco" , sans-serif;
    
}



p{
    color:#fff;
    background-color: black;
}



label{
	color: #FFFF; 
    background-color:#000000;

}

 /*Selector Specificity: (0, 0, 1)*/
 main{
    width:100%; 
   height:50vw;
}
